<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>Add a complex Page</h1>

<p><a href="complex">Back to the complex page</a></p>

<h4>Enter the new complex information below:</h4>
<form action="/complex_insert" method="post"><br>
    <p>ID:<br>
    <input type="text" name="complex_id"><br>
    name:<br>
    <input type="text" name="complex_name"><br>
    city:<br>
    <input type="text" name="city"><br>
    country:<br>
    <input type="text" name="country"><br>
    <input type="submit" value="Submit"></p>
</form>
<p><a href="/">Back to the main page</a></p>

</body>


</html>
